.task {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.2rem;
  height: 6vh;
  margin-top: 1%;
}

.ex {
  font-size: 0.9rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  background-color: var(--primary-light);
}

.delete-task {
  border: none;
  background-color: none;
  font-weight: 900;
  padding: 0;
}

.left,
.right, .delete-task {
  display: flex;
  align-items: center;
  justify-content: center;
}